.text {
    font-family: 'Open Sans', sans-serif;
    color: yellow;
    text-align: center;
    /* position: relative; */
    /* top: 90px; */
  }

  .inner_content {

    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  #top {
    margin-left: 20px;
    line-height: 2;
    font-size: 30px;

  }

  .header {
    background-color: rgb(231, 237, 242);
    height: 50px;
  }

  .learn {
    margin: 0px 20px;

  }

  .internal {
    display: flex;

  }

  .insights {
    position: absolute;
    bottom: 60px;
    
    left: 511px; 
    
     color: aliceblue;
     font-style: italic;
  }

  .line {
    font-size: 20px;
    position: relative;
    top: -7px;
  }

  .second_header {
    margin: 3px 4px;
    /* background-color: rgb(247, 249, 250); */
  }

  .banner {
    background-color: rgb(187 204 235);
    height: 500px;
  }

  h3 {
    padding-top: 20px;
  }

  .inner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
  }

  .para {
    color: yellow;
    font-size: 20px;
  }

  #second_p {
    /* font-size: 15px; */
    position: absolute;
    bottom: 100px;
    margin-left: 10px;
  }

  .content {
    height: 300px;
    background-image: url('/images/banner/Blue_triangle_bg_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .report{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media(max-width:425px) {
    #top {
      font-size: 20px;
      line-height: 3.5;
    }

    b {
      font-size: 10px;
    }

    .learn {
      font-size: 10px;
    }

    img {
      height: 10px;
    }

    .internal {
      display: flex;
      /* flex-direction: column; */
      width: 80px;
    }

  }

  @media (max-width:520px) {
    .para {
      font-size: 15px;

    }

    #second_p {
      bottom: 100px;
      /* max-width: 80px; */
    }
  }

  .tables{
    background: url('/images/Compass/compass-bg.jpg') no-repeat ;
    background-size: cover;
    height: 500px;
}
.main{
    width: 60%;
    background-color: whitesmoke;
    margin: 0px auto;
    text-align: center;
    border: 1px solid black;
  }
  .main,th,td{
    border: 1px solid rgb(232 222 222);
  }
  .text-center{
    /* padding: 5px 10px; */
    font-size: 15px;
    /* width: 15px; */
    line-height: 1.5;
    background-color: rgb(199, 126, 53);
    color: white;
  }
  #first_col{
    background-color: rgb(255 180 37 / 69%);
    color: white;
  }
  .sec_row{
    padding: 15px 10px;
  }
  .left_col{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 300px;
    text-align: start;
    background-color: rgb(187 178 178 / 34%);
    /* border-collapse: collapse; */
    
  }
  .fa-check{
    color: rgb(92, 121, 92);
    /* width: 80px; */
    /* height: 30px; */
 }
 .fa-xmark{
  color: red;
 }
 .buttn{
  /* width: 30px; */
  background-color: rgb(71 195 237);
  padding: 8px 5px;
  font-size: 10px;
  color: white;
  border-radius: 9px;
 }
 

 .cards{
  display: flex;
  background-color: aqua;
  height: 700px;
  justify-content: center;
  align-items: center;
 }
 .card{
  border-radius: 2em;
 }
 .card-img-top{
  width: 70% !important;
  margin: 0px auto !important;
 }
 .card_btn{
  background-color: rgb(233 230 230);
  border-radius: 30px;
 }
 .card{
  /* max-height: 500px !important; */
 }
 li{
  /* font-size: 10px; */
 }